.intro {
  text-align: center;
}

.icons {
  text-align: center;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 150%;
}

.fa {
  display: inline;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color: black;
    background: white;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-envelope {
  background: black;
  color: white;
}

.fa-rocket-launch {
  background: black;
  color: white;
}

.ninja {
  display: block;
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}